
body {
    background-color: #2E83FF;
    color: #ffffff;
}

.section {
    float: left;
    width: 100%;
    clear: both;

}
.widget {
    float: left;
    border: 3px solid #ffffff;
    margin: 5px;
    width: 300px;
}

.widget_title {
    float: left;
    clear: both;
    background: #ffffff;
    color: #2e83ff;
    width: 100%;
    padding: 5;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 36px;
    -moz-box-sizing: border-box;     -webkit-box-sizing: border-box;     box-sizing:        border-box;
    text-align: center;
}

.widget_body {
    float: left;
    clear: both;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-size: 48;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    position: relative;
}

.widget_settings_icon {
    position: absolute;
    right: 5px;
    top: 5px;
    display: none;
}

.widget_settings {
    background: #000000;
}
